h1.site-title {
  font-family: 'Oswald',serif;
  font-weight: 400;
  font-size: 62px;
  line-height: 72px;
  padding: 0px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 15px;
}

h1.site-header-title {
  font-weight: 300;
  font-size: 2em;
}
